@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/* Poppins Roboto Montserrat */
:root{
  --clr-primary: ;
  --clr-secondary: ;
  --clr-border: hsl(0 0  50);
  --clr-shadow: hsl(0 0 70);
  --clr-bg: ;

  --clr-text:hsl(0 0 5) ;
  --clr-muted: hsl(0 0 70);

  --space-sm: 4px;
  --space-md: 8px;
  --space-base: 12px;
  --space-lg: 16px;
  --space-xl: 20px;

  --border: 1px solid var(--clr-border);
  --border-lg: 1px solid var(--clr-border);
  --border-test: 1px solid red;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-base: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;
}
*{
  font-family: "Poppins";

  -webkit-tap-highlight-color: transparent;
}
